body {
  margin: auto;
  max-width: 100%;
  min-height: 100vh;
  background-color: #f4f4f4;
   font-size: 14px;
  background-color: #f4f4f4;

}

.title {
    text-align: center;
}


.links {
    text-align: center;
}

a {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:inherit;
    color: inherit;
    word-spacing: 30px;
    color: coral;
    
}

hr {
    width: 100%;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    max-width: 650px;

}



.information {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0 700px;
  
}


h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

.img {
    margin: 0 900px;
    height: 300px;
    width: 600px;
}


.btn {

    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 960px;
    width: 400px;
}

  


  
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  

  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  

  .footerText {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  .gif {
    margin: 0 950px;
    width: 400px;
    height: 200px;
  }




  .audio {
    margin: 10px 900px;
    border: 2px solid;
  }

  .audio2 {
    margin: 10px 900px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .container {
    display: block;
    justify-content: center;
    margin: 30px 1040px;
    width: 350px;
    height: 200px;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #202020;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  .dropdown-content {
    display: none;
    min-width: 160px;
    z-index: 1;
    background-color: #020202;
    padding: 12px 16px;
   
  
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
  
   
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #666666;}





  
 
  @media only screen and (max-width: 768px) {
    .title {
    font-size: 24px;
    }
    
    .info {
    margin: 0 50px;
    }
    
    .pct {
      margin: 0;
      height: 200px;
      width: 100%;
      }

    
    .audio {
      margin: 0 100px;
    }

    .audio2 {
      margin: 10px 100px;
    }
    
    .btn {
    margin: 10px 150px;
    width: 200px;
    }
    
    .gif {
    margin: 0 150px;
    width: 200px;
    height: 150px;
    }

    }
    
    @media only screen and (max-width: 480px) {
    .title {
    font-size: 18px;
    }
    
    .info {
    margin: 0 20px;
    }
    
    .pct {
      margin: 0;
      height: 150px;
      width: 100%;
      }
    
    .btn {
    margin: 10px 130px;
    width: 150px;
    }
    
    .gif {
      margin: 0 50px;
    width: 150px;
    height: 100px;
    }

    .audio {
      margin: 0 100px;
    }

    .audio2 {
      margin: 10px 100px;
    }
    }


  
 
  


  
 
  

  
 

  
 
  


  
 
  

  
 

  




